@-webkit-keyframes ltr {
    0% {
        left: 0;
    }

    100% {
        left: 120%;
    }
}

@-webkit-keyframes rtl {
    0% {
        right: 0;
    }

    100% {
        right: 120%;
    }
}

.animate-ltr {
    -webkit-animation: linear infinite;
    -webkit-animation-name: ltr;
    -webkit-animation-duration: 40s;
}

.animate-rtl {
    -webkit-animation: linear infinite;
    -webkit-animation-name: rtl;
    -webkit-animation-duration: 40s;
}